* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	text-align: center;
	align-content: center;
	background-color: #152548;
	color: whitesmoke;
	font-family: Verdana;
}

#start-btn {
	margin-top: 50px;
}

#start-btn:hover {
	border: 5px solid #e81e2c;
}

#progress-bar {
	margin-top: 50px;
	display: none;
	width: 800px;
	height: 20px;
	background-color: whitesmoke;
	margin-bottom: 50px;
}

#progress {
	width: 0px;
	height: 20px;
	background-color: #e81e2c;
}

#progress-container {
	width: 100%;
	height: 20px;
	display: none;

}

.radio {
	height: 20px;
	width: 20px;
}

.radio-grid {
	display: none;
	width: 100%;
	margin: auto;
	width: 75%;
	float: right;
	align-content: left;
	text-align: left;
}

.next-btn { 
	display: none;
	margin-top: 20px;
	padding: 20px;
	width: 250px;
	letter-spacing: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: whitesmoke;
	background-color: #e81e2c;
}

.next-btn:hover {
	border: 5px solid whitesmoke;
}

.next-btn:disabled {
	background-color: darkgray;
}

.btndiv {
	display: none;
	width: 75%;
	float: right;
	text-align: left;
	height: 100px;

}



.questions {
	display: none;
	font-size: 25px;
	font-family: Verdana;
	Padding: 10px;
	Margin: 50px;
	width: 75%;
	height: 60px;
	float: right;
	text-align: left;
	
}

label {
	font-size: 25px;
}

#result {
	font-size: 50px;
	display: none;
	float: left;
	align-content: center;
	width: 100%
}

#finalControls{
	display: none;
	width: 100%;
	height: 100px;
}

#showanswers {
	display: none;
	margin-top: 25px;
	text-align: left;
	float: left;
	width: 50%;
}

#restartQuiz {
	margin-top: 25px;
	display: none;
	text-align: right;
	float: left;
	width: 50%;
}

#hideanswers {
	display: none;
	margin-top: 25px;
	text-align: left;
	float: left;
	width: 50%;
}



.final-btn {
	display: none;
	padding: 20px;
	width: 300px;
	height: 100px;
	letter-spacing: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: whitesmoke;
	background-color: #e81e2c;
	font-size: 125%;
}

.final-btn:hover {
	border: 5px solid whitesmoke;
}

#result {
	margin-top: 50px;
	margin-bottom: 25px;
}

#coupondiv {
	display: none;
	float: center;
	text-align: center;
	height: 600px;
	width: 900px;
}

#coupon {
	height: 600px;
	width: 900px;
}

#instrukcja {
	font-size: 30px;
	margin: 10px;
}

#fblink {
	margin: 20px;
	margin-bottom: 40px;
}

